/* Roles Section Styles */
.roles-section {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;
    background-color: var(--color-background-secondary); /* Match dark background */
  }