body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.certifications {
  margin-bottom: 3.6vmin;
}

.name {
  line-height: 2.2rem;
  font-size: 2rem;
}

@import url("App.Tablet.Portrait.css");
@import url("App.Phone.Portrait.css");
@import url("App.Desktop.css");
