nav {
    display: flex;
    align-items: left;
    gap: 1rem;
    padding: 1rem;
    background-color: #111;
}

nav .active {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}