/* For Desktop View */
@media screen and (min-width: 1024px) {
  .App-resume {
    border-radius: 15px;
    height: calc((11*95vw) / 8.5);
    pointer-events: none;
    width: 60vmin;
    margin: 1.5vmin;
  }

  .App-header {
    height: 100vmin;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-link {
    color: #61dafb;
    padding: 2vmin;
  }
}
