/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .App-resume {
    border-radius: 15px;
    height: calc((11*95vw) / 8.5);
    width: 95vw;
    margin: 3vh;
  }

  .App-header {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }

  .App-logo {
    height: 60vmin;
  }

  .App-link {
    color: #61dafb;
    padding: 2vmin;
  }
}
